<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistemas Distribuidos</title>
    <link rel="icon" href="/img/logofisi.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/img/styles.css}">
</head>
<body>

    <nav class="header">
        <ul class="menu">
            <li><a th:href="@{/pagina}" class="button">Tarea 1</a></li>
            <li><a th:href="@{/climate}" class="button">Tarea 2</a></li>
        </ul>
    </nav>
    <h1>Bienvenido al curso de: <span th:text="${curso}"></span></h1>
    <img src="/img/unmsm.png" alt="Logo del curso" width="800">
    <h2>Integrantes del grupo:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Código</th>
                <th>Correo</th>
                <th>Celular</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="integrante : ${integrantes}">
                <td th:text="${integrante.nombre}"></td>
                <td th:text="${integrante.apellidos}"></td>
                <td th:text="${integrante.codigo}"></td>
                <td th:text="${integrante.correo}"></td>
                <td th:text="${integrante.celular}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
